#root {
  font-family: InterVariable;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #121212;
  background-image: url("/img/bgi/azrlnbgi_right.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  color: #ffffff;
}

.introsection {
  position: fixed;
  left: 12vw;          /* anchor to left edge */
  top: 50%;
  transform: translateY(-50%);
  max-width: 40vw;    /* scales with background */
}

h1 {
  font-size: clamp(1.5rem, 4vw, 3rem);
}

.logo {
  height: clamp(3rem, 8vw, 6rem);
  padding: clamp(0.5rem, 1.8vw, 1.5rem);
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}
.logo.azurlane:hover {
  filter: drop-shadow(0 0 1em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  font-size: clamp(0.85rem, 1.6vw, 1rem);
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
