#root {
  font-family: InterVariable;
}

/* for Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
