/* fallback */
body[data-font="default"] {
  font-family: sans-serif;
}

/* DejaVu Sans */
body[data-font="dejavu"] {
  font-family: "DejaVu Sans", sans-serif;
}

/* Poppins */
body[data-font="poppins"] {
  font-family: "Poppins", sans-serif;
}


/* -------------------
   DEJAVU FONTS
------------------- */
@font-face {
  font-family: "DejaVu Sans";
  src: url("/fonts/DejaVu/DejaVuSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DejaVu Sans Book";
  src: url("/fonts/DejaVu/DejaVuSans-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DejaVu Sans";
  src: url("/fonts/DejaVu/DejaVuSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DejaVu Sans";
  src: url("/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "DejaVu Sans";
  src: url("/fonts/DejaVu/DejaVuSans-BoldOblique.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Condensed variants (if needed) */
@font-face {
  font-family: "DejaVu Sans Condensed";
  src: url("/fonts/DejaVu/DejaVuSansCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* -------------------
   POPPINS FONTS
------------------- */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
