.zoom-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #111;
}

.zoom-image {
  user-select: none;
  transition: transform 0.1s ease-out;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
